<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.0.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
">
    <context:component-scan base-package="com.vtest.it.mestools"/>
    <context:component-scan base-package="com.vtest.it.mesinfors"/>
    <context:component-scan base-package="com.vtest.it.tools"/>
    <context:component-scan base-package="com.vtest.it.testerDatalogParse"/>
    <context:component-scan base-package="com.vtest.it.rawdataModify"/>
    <context:component-scan base-package="com.vtest.it.bumppingMergeParseTools"/>
    <context:component-scan base-package="com.vtest.it.RawdataGenerate"/>
    <context:component-scan base-package="com.vtest.it.rawdatafterdeal"/>
    <context:component-scan base-package="com.vtest.it.MappingParseTools"/>
    <context:component-scan base-package="com.vtest.it.vtestDatalogDeal"/>
    <context:component-scan base-package="com.vtest.it.rawdatacheck"/>
    <context:component-scan base-package="com.vtest.it.properties"/>
    <context:component-scan base-package="com.vtest.it.rawdataParse"/>
    <context:component-scan base-package="com.vtest.it.excelModel"/>
    <context:component-scan base-package="com.vtest.it.adjacentFailDieCheck"/>
    <cache:annotation-driven/>
    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
        p:configLocation="classpath:ehcache.xml"
    />
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
          p:cacheManager-ref="ehcache"
    />
    <util:list id="rawdataAfterDeal" value-type="com.vtest.it.rawdatafterdeal.AbstractRawDataAfterDeal">
        <bean class="com.vtest.it.rawdatafterdeal.MarkDieToPassDeal"/>
        <!--<bean class="com.vtest.it.rawdatafterdeal.MarkToPassBySpecialModel"/>-->
        <bean class="com.vtest.it.rawdatafterdeal.AdjacentFailDieCheck"/>
        <bean class="com.vtest.it.rawdatafterdeal.FinRawDataDeal"/>
    </util:list>
    <bean id="rawDataDealBean" class="com.vtest.it.pojo.rawdataafterdeal.RawDataDealBean"
    p:dealList-ref="rawdataAfterDeal"
    />
</beans>