<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtest.it.dao.VtComputerDAO">
    <resultMap id="computers" type="com.vtest.it.pojo.ComputerBean">
        <result property="macAddress" column="mac_address"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="dateOfpurchase" column="date_of_purchase"/>
    </resultMap>
    <select id="getComputers" resultMap="computers">
      SELECT * FROM rawdatainfors.vtcomputers;
    </select>
    <insert id="updateComputer">
        INSERT INTO rawdatainfors.vtcomputers (mac_address,type,status,date_of_purchase) VALUES
        <trim suffix="" suffixOverrides=",">
            <foreach collection="computers" item="computer" separator=",">
                (#{computer.macAddress},#{computer.type},#{computer.status},#{computer.dateOfpurchase}),
            </foreach>
        </trim>
    </insert>
</mapper>