<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtest.it.dao.MesConfigDAO">
    <resultMap id="mesitems" type="com.vtest.it.pojo.MesItem">
        <result property="item" column="item"/>
        <result property="mesItem" column="mes_item"/>
        <result property="mesItemReplace" column="mes_item_replace"/>
        <result property="byCp" column="by_cp"/>
        <result property="multiCp" column="multi_cp"/>
        <result property="defaultValue" column="default_value"/>
        <result property="inforLines" column="infor_lines"/>
    </resultMap>
    <select id="getItems" resultMap="mesitems">
        SELECT * FROM rawdatainfors.rawdataConfig ;
    </select>
</mapper>